body{
    background-image: url(https://a-static.besthdwallpaper.com/o-ceu-azul-bonito-papel-de-parede-1280x720-11038_45.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.bcdNav{
    background-image: linear-gradient(#29b4df, #02020200);
    /* background-color: #02020250; */
}
.txtPrev{
    font-size: 25px;
}

.btnBcd{
    background-color: #3fb7dbc7;
    border-radius: 14px;
}
.btnBcd:hover{
    background-color: #00c3ff;
}

.border{
    border-radius: 14px;
}

.jumbotron{
    text-align: center;
    background-color: #0202025e;
    color: white;
    border-radius: 20px;
}
.txtInput{
    text-align: center;
}

.txtFooter{
    color:#000;
    font-size: 25px;
    margin-top:45px;
}